<div class="msg-wrapper">
	<div class="msg">
		<div class="welcome mb-1">
			<h3>Welcome to <span class="project"> PROJECT.</span></h3>
			This system and its resources are the property of <span class="project">PROJECT</span> and are for the
			exclusive use of personnel authorized by this entity.
			Improper use may result in disciplinary and/or legal actions. All activity on this system is being recorded
			and monitored.

		</div>
		<!-- <div class="slogan">Voye Kado San Grate Tèt.</div> -->

		<button mat-flat-button  routerLink="/proceed" color="primary" class="mt-5">
    <mat-icon mat-icon>navigate_before</mat-icon>
    PROCEED
    </button>
	</div>
</div>

 <!-- {{  (user$ |  async ) | json }} -->

<!-- <ul class="bg-bubbles">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul> -->