.check-icon {
  transform: scale(1.5);
  color: #64ac22;
}


.wrapper-sucess.row {
  border-bottom: 1px solid #ccc;
}


span.msg-success {
  font-weight: 500;
  font-size: 1.04em;
  color: #447d14;
}

.ci{
  text-align: end;
}

