<div class="wrapper-sucess row">

  <div class="col-sm-3 ci mb-2">
    <mat-icon fontSet="fas" class="check-icon" fontIcon="fa-check-circle"></mat-icon>
  </div>
  <div class="col-sm-9 ">
    <span class="msg-success">Delivered Successfully</span>
  </div>

</div>

<div class="row no-gutters flex-row-reverse mt-4">
  <button
    class="col-sm-3"
    mat-raised-button
    aria-label="Example icon-button with a heart icon"
  >
    <mat-icon fontSet="fas" fontIcon="fa-check"></mat-icon>
    &nbsp; OK
  </button>

  <button
    printSectionId="print-section"
    ngxPrint
    mat-raised-button
    color="primary"
    class="col-sm-6 ml-auto mr-4"
    type="button"
  >
    <mat-icon fontSet="fas" fontIcon="fa-print"> </mat-icon>
    &nbsp; Print
  </button>
</div>
