<mat-accordion class="example-headers-align" multi>

	<mat-expansion-panel>
		<mat-expansion-panel-header>
			<mat-panel-title>
				Manage Users
			</mat-panel-title>
			<mat-panel-description>
				Manage users to access the APP
				<mat-icon>account_circle</mat-icon>
			</mat-panel-description>
		</mat-expansion-panel-header>

		<app-user></app-user>
	</mat-expansion-panel>

	<mat-expansion-panel>
		<mat-expansion-panel-header>
			<mat-panel-title>
				Manage Distributors
			</mat-panel-title>
			<mat-panel-description>
			Manage distributors to access the APP and process transactions
				<mat-icon>account_circle</mat-icon>
			</mat-panel-description>
		</mat-expansion-panel-header>

		<app-user></app-user>
	</mat-expansion-panel>

</mat-accordion>