<h2 mat-dialog-title>Find Sender / Receiver</h2>
<div class="search-container">

  <form [formGroup]="pickSenderForm"  class="normal-form">
    <input type="hidden" >
  <mat-form-field class="pick-sender-filter-input" floatPlaceholder="never" >
        <input matInput #filter (ngModelChange)="hideNotification()" name="firstNameCN" placeholder="First Name&hellip;" [(ngModel)]="senderFirstN" >
        <mat-error>This field is required</mat-error>

      </mat-form-field>
      <mat-form-field class="pick-sender-filter-input" floatPlaceholder="never" >
        <input matInput #filter (ngModelChange)="hideNotification()" name="lastNameCN"  placeholder="Last Name&hellip;" [(ngModel)]="senderLastN" >
        <mat-error>This field is required</mat-error>

      </mat-form-field>
      <button  mat-raised-button class="pick-sender-search-btn"
      color="primary"  (click)= searchSender()>
          <mat-icon fontSet="fas" fontIcon="fa-search"></mat-icon>
        </button>
      </form>
</div>

<div class="pick-sender-receiver-container">
    <app-table-pick-sender  class="pick-send"></app-table-pick-sender>

<!-- <div class="pick-receiver-table-container"> -->

<app-table-pick-receiver    class="pick-receiver"></app-table-pick-receiver>
<!-- </div> -->
</div>
<div class="notification-sender"  >Sender <span>" Notif "</span> does not exist yet.</div>


<div class="picker-btn">
    <button mat-button mat-dialog-close  (click)="close()" >OK</button>
  <button mat-button mat-dialog-close color="warn" (click)="close()" >Cancel</button>
</div>
