.not-found{
display: flex;
}

mat-card {
  margin: 4em;
  padding: 4em;
  text-align: center;
}


span.notice-time {
  margin-left: 2rem;
  background-color: #bbb;
  padding: 0.25rem;
  border-radius: 2px;
  color: white;
}
